.nav {
    width: 80%;
    height: 70px;
    background-color: #716B7E;
    max-width: 750px;
    position: fixed;
    bottom: -2px;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0; right: 0;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 15px;
}

#icon {
    color: white;

}

img {
    animation-name: inhale-exhale;
}

@keyframes inhale-exhale {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.5, 1.5);
    }
    100% {
    transform: scale(1, 1);
    }
    }