.PlanetsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  
}

.PlanetsContainer[triggerAnimation='0'] .odd-planet {
  align-self: flex-end;
}
.PlanetsContainer[triggerAnimation='0'] .even-planet {
  align-self: flex-start;
}

.PlanetsContainer[triggerAnimation='1'] .even-planet {
  align-self: flex-start;
  position: relative;
  animation: planets-showing;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction:reverse;
}

@keyframes planets-showing {
  0%   {left: 0%; top: 0px;}
  100%  {left: 100%; top: 0px;}
}


.PlanetsContainer[triggerAnimation='1'] .odd-planet {
  align-self: flex-end;
  position: relative;
  animation: planets-showing;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction:reverse;
}


.Planet img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  /* animation: zoom-in-zoom-out 2s ease-out infinite; */
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.Planet p {
  color: white;
}


ul {
  color: white;
}

.phone-icon {
  display: flex;
  justify-content: center;
}

.phone-icon i {
  color: white;
  font-size: 50px;
  /* opacity: 0;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  transition: opacity 1s; */
  animation: tiltImage 2s linear 2, 2s fadeIn forwards 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tiltImage {
  0% {
    transform: rotate(15eg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

