.topNav {
    width: 100%;
    max-width: 750px;
    display:flex;
    align-items: left;
    justify-content: left;
    margin: 0 auto;
    z-index: 10;
    color: white;
}

#topIcon {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

h3 {
    color: white;
}