.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.carousel-container-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

img {
  height: 300px;
  width: 300px;
}