.PlanetsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.even-planet {
  align-self: flex-start;
}

.odd-planet {
  align-self: flex-end;
}

.Planet img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Planet p {
  color: white;
}


ul {
  color: white;
}


